a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    cursor: pointer;
}