<header class="header-home">
  <div class="container">
    <div class="header-home__container">
      <!-- Logo -->
      <a
        class="logo hover-target"
        href="./index.html"
        aria-label="Website Logo"
        lang="en"
      >
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#logo-icon"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <!--     Navigation -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item hover-target">
            <a class="nav__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="nav__item hover-target">
            <a class="nav__link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!--     Search-form-->
    <form id="form-search" action="" class="form-group">
      <input
        class="form-group__input hover-target"
        autocomplete="off"
        name="searchQuery"
        type="text"
        placeholder="Movie search"
      />
      <button class="form-group__button hover-target" type="submit">
        <svg class="form-group__icon">
          <use href="./images/sprite.svg#search-icon"></use>
        </svg>
      </button>
    </form>

    <!-- Error-notification -->
    <p class="error-notification">
      <!-- Search result not successful. Enter the correct movie name. -->
    </p>

    <!-- User-theme-->
    <div class="page-action">
      <button type="button" class="page-action__theme hover-target"></button>
    </div>
  </div>
</header>
