<header class="header-lib">
  <div class="container">
    <div class="header-lib__container">
      <!-- Logo -->
      <a class="logo" href="./index.html" aria-label="Website Logo" lang="en">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#logo-icon"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <!--     Navigation -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--current" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!--     Button-box-->
    <div class="btn-container">
      <button class="library-button" id="watched" type="button">
    
          <span class="label">watched</span>
        </button>
      
        <button class="library-button" id="queue" type="button">
        
          <span class="label">queue</span>
        </button>
  </div>

  
  </div>
</header>