<button class="btn_spinner  btn-primary" type="button" disabled>
    <span class="spinner_border" role="status" aria-hidden="true"></span>
    <span >Loading...</span>
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <span >Loading...</span>
  </button>
  <!-- <button class="btn btn-primary" type="button" >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button> -->
  <!-- <div class="spinner_border"></div> -->