.scroll-btn {
    position: fixed;
    padding: 0;
    bottom: 100px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    @include mq(mobile) {
        width: 30px;
        height: 30px;
        right: 30px;
        bottom: 50px;
    }

    @include mq(tablet) {
        width: 40px;
        height: 40px;
        bottom: 70px;
    }

    z-index: 1;
    background-color: transparent;
    color:  #ff6b08;
    border: 2px solid #ff6b08;
    transition: color 300ms ease-in-out;

    &:hover {
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 20px #FF6B08;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px #FF6B08;
    }
}

.scroll-img {
    fill:#FF6B08;
    width: 20px;
    height: 20px;
    cursor: pointer;
}