.cart {
    @include mq (mobile) {
    width: 280px;   
    }
    @include mq (tablet) {
        width: 336px;
       
    }
    @include mq (desktop) {
        width: 395px;    

        font-size: 20px;
        line-height: 1.2;
       
    }
    &_image {
        border-radius: 5px;
        margin-bottom: 8px;
        @include mq (mobile) {
            width: 280px;
            height: 398px;
            margin-left: auto;
            margin-right: auto;
            }
            @include mq (tablet) {
                width: 336px;
                height: 455px;
            }
            @include mq (desktop) {
                width: 395px;
                height: 574px;      
            }
    }
    &_name {
        margin: 0;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;

        color: $textHeader_color;
       
    }
    &_title {

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        

        color: $text_color;
    }
    &_span {
        padding-left: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        border-left: 1.5px solid $text_color;

        color: $text_color;

    }
    &_span-rating {
        width: 36px;
        height: 16px;
        border-radius: 5px;
        margin-left: 5px;

            background-color: $text_color;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;

        color: $background;        

    }
}