// .home-page {
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

.gallery {

    padding-top: 20px;
    padding-bottom: 40px;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.cart {
    margin-bottom: 20px;
    width: 280px;
    border-radius: 5px;

    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 7px -7px 21px rgba(119, 64, 24, 0.6);
    }

    @include mq(tablet) {

        width: calc((100% - 32px) / 2);
        margin-right: 32px;
        margin-bottom: 32px;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            transform: scale(1.05);
        }
    }




    @include mq(desktop) {
        width: calc((100% - 32px) / 3);
        margin-right: 16px;
        margin-bottom: 32px;

        &:nth-child(2n) {
            margin-right: 16px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(3) {
            margin-bottom: 0;
        }
    }
}

.cart_image {
    border-radius: 5px;
    width: 100%;
    height: 398px;

    @include mq(tablet) {
        height: 455px;
    }

    @include mq(desktop) {
        height: 574px;
    }
}

.cart_name {
    margin-top: 10px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    padding-left: 5px;

    @include mq(tablet) {
        margin-top: 8px;
        line-height: 1.3;
    }

    @include mq(desktop) {
        margin-top: 12px;
        line-height: 1.2;
        font-size: 20px;
    }
}

.cart_title {
    display: flex;
    padding-bottom: 2px;
    padding-left: 5px;

    font-weight: 500;
    line-height: 1.3;
    color: #ff6b08;
    align-items: baseline;


    @include mq(desktop) {
        font-size: 20px;
        line-height: 1.2;
    }
}