.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 280px;
    padding: 48px 20px 40px;

    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
}

.modal__icon-close {
    fill: #000000;
}

.modal__image {
    margin-bottom: 20px;

    border-radius: 5px;
}

.modal__title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.modal__info:last-child {
    margin-bottom: 20px;
}

.modal__info {
    margin-bottom: 8px;

    font-size: 12px;
    color: #8C8C8C;
}

.modal__info-value {
    color: #000000;
}

.modal__info-value-vote {
    display: inline-block;

    color: #ffffff;
    background-color: #FF6B01;
    border-radius: 5px;
}

.modal__about {
    margin-bottom: 8px;

    font-size: 12px;
    text-transform: uppercase;
}

.modal__about-text {
    margin-bottom: 20px;

    font-size: 12px;
}

.modal__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__btn {
    width: 110px;
    height: 44px;

    text-transform: uppercase;

    border-radius: 5px;
}

.modal__btn-watched {
    color: #ffffff;
    background-color: #FF6B01;
}

.modal__btn-queue {
    background-color: #ffffff;
    border: 1px solid #000000
}