.modal {
    position: relative;
    width: 280px;
    padding: 48px 20px 40px;
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
}

.modal__icon-close {
    fill: #000000;
}

.modal__image {
    margin-bottom: 20px;

    border-radius: 5px;
}

.modal__title {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.modal__info:last-child {
    margin-bottom: 20px;
}

.modal__info {
    margin-bottom: 8px;

    font-size: 12px;
    color: #8C8C8C;
}

.modal__info-value {
    color: #000000;
}

.modal__info-value-vote {
    display: inline-block;

    color: #ffffff;
    background-color: #FF6B01;
    border-radius: 5px;
}

.modal__about {
    margin-bottom: 8px;

    font-size: 12px;
    text-transform: uppercase;
}

.modal__about-text {
    margin-bottom: 20px;

    font-size: 12px;
}

.modal__btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__btn {
    width: 110px;
    height: 44px;

    text-transform: uppercase;

    border-radius: 5px;
}

.modal__btn-watched {
    color: #ffffff;
    background-color: #FF6B01;
}

.modal__btn-queue {
    background-color: #ffffff;
    border: 1px solid #000000
}