.basicLightbox {
    overflow: scroll;
}

.team-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: -20px;

    @media screen and (max-width: (768px - 1)) {
        margin-top: 70px;
    }

    width: 240px;

    background-color: #FFFFFF;
    border-radius: 15px;

    @media screen and (min-width: 768px) {
        width: 600px;

        border-radius: 25px;
    }

    @media screen and (min-width: 768px) {
        margin: -30px;

        width: 800px;
    }
}

.team-card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;

    width: calc((100% - 80px) / 2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 160px) / 4);
    }

    @media screen and (min-width: 1280px) {
        margin: 30px;

        width: calc((100% - 240px) / 4);
    }
}

.team-image {
    margin-bottom: 10px;

    width: 100%;

    border-radius: 50%;
    box-shadow: 5px 5px 11px -2px #000000;
}

.team-name {
    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.team-role {
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width: (768px - 1)) {
        font-size: 14px;
    }

    color: #000000;
}

.team-git {
    position: absolute;

    top: 65px;
    right: -10px;

    @media screen and (min-width: 268px) {
        top: 100px;
    }

    @media screen and (min-width: 1280px) {
        top: 120px;
    }

    transform: scale(1);   

    &:hover,
    &:focus {
        transform: scale(1.5);
    }
}

// footer

.team-modal {
    text-decoration: underline;

    cursor: pointer;
}